<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='microsoft.stickyheader'}"/>
<sly data-sly-use.model="com.aem.trg.microsoft.core.models.StickyHeaderModel" />

<div class="sticky-header" id="stickyHeader">
    <div class="sticky-title">${model.title}</div>
    <div class="button-group">
        <sly data-sly-list.items="${model.buttons}">
            <a href="${items.url}" class="outline-button">${items.label}</a>
        </sly>
    </div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='microsoft.stickyheader'}"/>
