.card1-component {
    padding: 2rem;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card1-component h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #1a1a1a;
    padding-right: 100px;
}

.card1-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.card1 {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.card1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.card1-badge {

    top: 0;
    left: 0;
    background-color: #ffd400;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 0;
    pointer-events: none;
    margin: 10px;
    margin-left:-190px;
    margin-bottom:-15px;
}

.card1-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card1-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: -1.5rem;
    color: #1a1a1a;
    cursor: pointer;
}

.card1-content p {
    font-size: 1rem;
    color: #1a1a1a;
    flex-grow: 1;
    margin-bottom: 0rem;
    cursor: pointer;
}

.card1-buttons {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
}

.card1-buttons a {
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: #0067b8;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    margin-top:-8px;
}

.card1-buttons a:hover {
    background-color: #005a9e;
}
