.image-component {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align:center;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Krishna bar full width at the top */
.krishna {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0067B8;
  color: white;
  padding: 0px 40px;
  box-sizing: border-box;
  z-index: 2;
  font-size: 1.2rem;
}

.overlay {
  position: absolute;
  top: 60px; /* Height of krishna bar */
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 40px;
  box-sizing: border-box;
}

.overlay-content {
  text-align: left;
  color: #ffffff;
  max-width: 800px;
  width: 100%;
  padding-left: 100px;

}

.title {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  word-wrap: break-word;
  max-width: 339px;
  margin-right: 120px;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  text-align: left;
  word-wrap: word-break
  max-width: 400px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #50E6FF;
  color: #24354E;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
}

.button:focus {
  border: 2px dotted black;
}

.button.clicked {
  border: 2px dotted black;
}
