<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='microsoft.warrantycard'}" />
</sly>


<sly data-sly-use.accessoryCard="com.aem.trg.microsoft.core.models.AccessoryCard" />

<div class="accessory-card-component">
    <p class="w-Main-Title">${accessoryCard.title}</p>

    <div class="accessory-card-list">
        <sly data-sly-list.item="${accessoryCard.links}">
            <div class="accessory-card">
                <div class="accessory-card__image">
                    <img src="${item.fileReference}" alt="${item.title @ context='html'}"/>
                </div>
                <div class="accessory-card__content">
                    <h3 class="accessory-card__title">${item.title @ context='html'}</h3>
                    <p style="color:black" class="accessory-card__description">${item.description @ context='html'}</p>
                    <div class="accessory-card__buttons">
                        <a href="${item.buttonlink}" class="accessory-card__button">${item.buttontext @ context='html'}</a>
                        <a href="${item.buttonlink1}" class="accessory-card__button">${item.buttontext1 @ context='html'}</a>
                    </div>
                </div>
            </div>
        </sly>
    </div>
</div>

